* {
	padding: 0;
	margin: 0;
}

body{
	font-family: Helvetica, sans-serif
}

#wrapper{
	width: 940px;
	margin: 0 auto;
}

header{


}

#banner img{
	max-width: 100%;
}

#logo{
	width: 150px;
	margin-bottom: 10px;

}

ul#social{
	float: right;
	margin-top: 20px;
}

ul#social li{
	list-style-type: none;
	display: inline;
	margin: 0px 0 0 20px;

}

nav{
	height: 50px;
	line-height: 50px;
	background: lightblue;

}

nav li{
	float: left;
	list-style-type: none;
	width: 20%;
	text-align: center;
}

nav a{
	text-decoration: none;
}
#banner img{
	display: block;
}

h3 {
	color: #777;
	margin-top: 20px;
	margin-bottom: 10px;
}

.box1,
.box2,
.box3{
	width: 278px;
	padding: 10px;
	text-align: center;
}

.box1{
	float: left;
	margin-right: 20px;
}

.box2{
	float: left;
}

.box3{
	float: right;
}

.clear {
	clear: both;
}

footer {
	border-top: 1px dotted #aaa;
	margin-top: 30px;
	padding-top: 20px;
	padding-bottom: 30px;
}

footer span.all-rights {
	margin-left: 80px;
}







