/* 
HTML/CSS Level 1
In-class Exercise: Horizontal Navigation
*/


/* COLOR CODES

color: #7D0302;  /* burgundy */

color: #7A5C1C;	 /* dark gold  */

color: #2E230A; 	/* chocolate brown */


*/

/* DEVO ONLY STYLES --  DELETE BEFORE THE PAGE GOES LIVE */

div, header, footer, nav, main, aside {
	/*border: 1px solid red;*/	
}


/* END DEVO ONLY STYLES */   


/* RESETS */

body, body * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a img {
	border: 0;	
}

/* END RESETS */

/* GLOBAL TEXT STYLES */

html {
	font-size: 16px;	/* sets 1rem = 16px */
}

body {
	font-size: 100%;	/* 1em = 16px */
	font-family: "Myriad Pro", Myriad, Helvetica, Arial, sans-serif; /* always write a font stack with several fallback options */
	line-height: 1.6; 	/* always use unit-less line-height, value between 1.3 and 1.6 */
	color: #2E230A; 	/* chocolate brown */
	background-color: #2E230A; 	/* chocolate brown */
}

/* TEXT STYLES */

h1, h2, h3, h4, h5 {
    font-family: Georgia, "Minion Pro", Minion, "Times New Roman", serif;
}

h3 {
    color: #7D0302;		/* burgundy */
}

p, ol, ul, dl {
	margin-bottom: 1em;
}

#footer p {
	font-size: .85em;	
}

/* LIST STYLES */

li, dd {
	margin-bottom: .4em;
}

li {
	margin-left: 2.25em;
}

/* LINK STYLES */

/* Global Links */

a:link,
a:visited {
		color: #7D0302; /* burgundy */
		text-decoration: underline;
}

a:hover,
a:focus {
		text-decoration: none;
}

/* MISC LINKS */

h1 a:link,
h1 a:visited {
	text-decoration: none;
}

h1 a:hover,
h1 a:focus {
	color: #7A5C1C;	 /* dark gold */
}


/* NAVIGATION ================================================ */

nav li {
	list-style: none;	/* remove bullets from nav lists only */
	margin-left: 0;	/* reset global list indents on nav list only */
}

/* PURCHASE NAV */

#nav-purchase a:link,
#nav-purchase a:visited {
	text-decoration: none;
}

#nav-purchase a:hover,
#nav-purchase a:focus {
	color: #7A5C1C;	/* dark gold */
	text-decoration: underline;
}


/* LAYOUT STYLES */

#wrapper {
	width: 940px;
	margin: 0 auto 1.25em;
}

#header {
	/* main site header styles go here */
}

#nav-main {
	/* nav-main styles go here */
}

#middle {
	background-color: #FFF;
	padding: 1.25em;
	overflow: hidden;	/* pro it open to enclose floated elements */
}


#nav-purchase {
	 width: 210px;
	 float: left;
	 margin-right: 1.25em;
}


/* FOOTER NAV*/


#nav-foot li{
	float: left;
	border-right: 1px solid #7D0302;	/*burgundy*/
	line-height: 1; /* unit-less line-height */
	padding: 0 .625em;	/* 10px */  /*tb lr*/
	
	
}

#nav-foot li. first{
	padding-left: 0;
}

#nav-foot li. last{
	border-right: 0;
}	
	

#footer p {
	clear: both;	/*  clear the floated list items*/
}



#content {
	width: 485px;
	float: left;
	border-left: 1px solid #2E230A; 	/* chocolate brown */
	border-right: 1px solid #2E230A; 	/* chocolate brown */
	padding: 0 1.25em;		/* 0tb  1.25rl*/
}

#secondary {
	 width: 165px;
	 float: right;
}


#footer {
	background-color: #FFF;
	padding: 1.25em;
	border-top: 4px solid #7A5C1C;	/* gold */
	border-radius: 0 0 1.25em 1.25em;
	clear: both;	/* start beneath the longest floated element about it*/
}


















